<div class="page-container">
    <div *ngIf="result" class="found">
        <div class="head">
            <h1>Found You!!</h1>
            <div class="relative">
                <img src="{{result.flag.png}}">
                <div class="ip">
                    <span class="material-symbols-rounded">
                        lock
                    </span>
                    <span class="value">{{result.ip_address}}</span>
                </div>
            </div>
            <div class="country">
                <span class="key">Country: </span>
                <span class="value">{{result.country}}, {{result.country_code}}</span>
            </div>
        </div>
        <button [ngClass]="{'see-less': see_more}" (click)="see_more = !see_more" class="see-more">
            <div *ngIf="!see_more" class="mor">See more</div>
            <div *ngIf="see_more" class="less">See Less</div>
        </button>
        <div *ngIf="see_more" class="more">
            <h3>Region</h3>
            <div class="info">
                <span class="key">City: </span>
                <span class="value">{{result.city}}</span>
            </div>
            <div class="info">
                <span class="key">Longitude: </span>
                <span class="value">{{result.longitude}}</span>
            </div>
            <div class="info">
                <span class="key">Latitude: </span>
                <span class="value">{{result.latitude}}</span>
            </div>
            <h3>Connection</h3>
            <div class="info">
                <span class="key">IS Provider: </span>
                <span class="value">{{result.connection.organization_name}}</span>
            </div>
            <div class="info">
                <span class="key">Connection Type: </span>
                <span class="value">{{result.connection.connection_type}}</span>
            </div>
            <h3>Security</h3>
            <div class="info">
                <span class="key">Using VPN? : </span>
                <span class="value">{{result.security.is_vpn}}</span>
            </div>
            
        </div>
    </div>
</div>